<div class="row mt-5 justify-content-end">
    <div class="col-6 col-md-4">
      <form name="frm">
        <div class="input-group">
          <input type="text" name="query" class="form-control" value="오라클" />
          <button class="btn btn-danger">검색</button>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <!-- 카카오도서 Restful API 공간 -->
  <div class="row" id="list_book"></div>
  <!-- 카카오도서 Restful API 공간 -->
  

  <!-- 이미지가 없는 도서 = helper ||  가격 = 정규표현식 처리하기 
  -->
  <script>
    // 이 자리에 들어가야되는 이유는 밑에 내려가면 읽지 못한다.
    Handlebars.registerHelper("format", function(price){
    return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
  })  //format은 헬퍼함수이름 파라미터로 들어가는 값이 price ||  정규표현식 처리

  Handlebars.registerHelper("image", function(thum){
    
    if(thum) return thum;
    else return "https://via.placeholder.com/120x174";
  })

// -1원(절판된 책에 대한 함수 추가)


//컬러에대한 헬퍼함수 추가
  Handlebars.registerHelper("color", function(sale_price){
    // 가격에 콤마 추가

    if (sale_price === -1) {
        // -1일 경우 "절판" 표시
        return new Handlebars.SafeString("<font color='green'>절판</font>");
    } else {
        // 가격에 콤마 추가
        let formattedPrice = sale_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        // 콤마가 추가된 가격을 빨간색으로 표시
        return new Handlebars.SafeString("<font color='red'>" + formattedPrice + '원' + "</font>");
    }
})
// {{ image thumbnail }}를 템플릿에 포함하면, "image" Helper 함수가 호출된다.
// "image" Helper 함수는 호출 시에 매개변수로 전달된 thumbnail 값을 받는다.
// 이미지 URL이 존재하면 return thum;을 통해 해당 이미지 URL을 반환한다.
  </script>

<!-- 핸들바스 템플릿 들어갈 부분 -->
<script id="temp_book" type="text/x-handlebars-template">
  {{#each documents}}
  <div class="card" style="width: 18rem;">
  <!-- 블록을 사용하여 배열을 순회할 때, 현재 반복되는 항목의 인덱스를 {{@index}}로 참조할 수 있다. -->
    <img src="{{ image thumbnail}}" index="{{@index}}"alt="도서이미지">
    <!--헬퍼 함수 참고 https://handlebarsjs.com/guide/expressions.html#helpers 
    image가 헬퍼함수 이름이고 thumbnail이 헬퍼함수 매개변수이다.
    -->
    <div class="card-body">
      <!-- title이 들어가는 부분 -->
      <h5 class="card-title">{{ title }}</h5>
      
      <p class="card-text">{{ contents }} </p>
      <!-- 콘텐츠 들어가는 부분 -->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ format price }}</li>
      
      <li class="list-group-item" id="saleprice">{{ color sale_price }}</li>
      <li class="list-group-item">{{ status }}</li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>
  {{/each}}
</script>

<!--  이 부분에 query, page에 대한 정보를 전역변수로 줘야함 그래야 
  공동으로 관리가 가능
  -->
   <!-- 이 부분 footer -->
  <div class="text-center mt-2">
    <button class="btn btn-primary btn-sm px-5" id="prev">이전</button>
    <span id="page" class="px-3">1/10</span>
    <button class="btn btn-primary btn-sm px-5" id="next">다음</button>
  </div>

  <script>
//  이 부분에 query, page에 대한 정보를 전역변수로 줘야함 그래야 
//   공동으로 관리가 가능
let query = $(frm.query).val(); //name="query"
let page = 1;
// query랑 page를 생성하는 이유는 
// ajax로 데이터 날리면 -> 사용자가 입력한 값을 같이 넘겨줘야 되서 

$('#prev').on('click', ()=>{
  page--;
  bookList();

})

$('#next').on('click', ()=>{
  page++;
  bookList();
})

// 도서를 클릭 했을 때 상세보기 처리하자.


$('#list_book').on ('click',  '.card img', ()=>{
    //아래 this는 누구인가요? <img index=1>
    let index = $(this).attr("index");
    console.log(`사용자가 선택한 이미지 index값은 ${index}`);
  })



const bookList = () =>{
        $.ajax({
            type : "get",
            url : "https://dapi.kakao.com/v3/search/book?target=title",
            headers : { Authorization: 'KakaoAK 419dfbdca77c5c8f97ffe62cc8be0107'},
            // data : {query : query, page : page, size : 10},
            data: { query: query, page: page, size: 20 },
            dataType : 'json',
            success: function(data){
                console.log(data);
                //핸들바스 컴파일 -> ajax데이터를 핸들바스 변수에 넣어준다.
                  const tmp = $('#temp_book').html()
                //핸들바스 템플릿을 가져온다.
                 const template = Handlebars.compile(tmp);
                // 반복문을 돌릴 구간을 컴파일 하기 위해서 핸들바스 파라미터로 넣는다.
                  const tb_list = template(data);
                //  tb_list는  each /each 구간에 바인딩 될  data변수를 넣는다.
                  $('#list_book').html(tb_list);

/***
 * 페이지네이션을 진행하려면 총total_page를 알아야한다
 * 어떤 기준으로 바뀌는가?를 설정해야한다.
 * 우선 object meta 데이터부터 살펴보자.
 * is_end  || pageable_count : 1000 ||  total_count : 1680
 * 이 데이터를 끌어다가 써야 되는데 어떻게 할까?
 * F12에 있는 개발자센터에서 우리가 보내는 data.meta.is_end 로 접근이 가능하다.
 * 왜냐하면 오브젝트기 떄문에 리터럴로 접근이 가능하다.
 *  size: 20 ==> 한 페이지에 보여줄 사이즈가 20개이기 떄문에
 *  total/20으로 나눈게 마지막 페이지다.
 */
                let is_end = data.meta.is_end;
                console.log(`마지막 페이지니? ==> ${is_end}`)
                let total = data.meta.total_count;
                console.log(`전체 페이지니? ==> ${total}`)

                let last = Math.ceil(total/20)
                console.log(`마지막 페이지니? ==> ${last}`)

                $('#page').text(`${page}/${last}`)

                //페이지 처리까지 완료.

                //이제 수정 해야 될 부분은 버튼을 누르면 마지막 last에서 페이지가 넘어감
                //버튼 활성화 및 비활성화 기능을 추가해야함
                //조건 분기를 하자  page == 1 -> 이전페이지 못가!(버튼활성화)
                //page == last일 경우 --> 다음 페이지 못가! (버튼활성화)
                //attr()은 jQuery에서 HTML 속성(attribute)을 조작하기 위한 메서드 중 하나
                //최근엔 prop()으로도 많이 쓰니 이것으로 쓰자.
                if(page ==1)
                {
                  $('#prev').prop("disabled", true)
                }
                else
                {
                  $('#prev').prop("disabled", false)
                }

                if(page == last)
                {
                  $('#next').prop("disabled", true)
                }
                else{
                  $("#next").attr("disabled", false)
                }

            },
            error: function(error)
            {
                console.log(error)
            }
        })
    }
// 검색 시 form 태그가 활성화된다.
// 1. html태그 jqeury로 접근하고->submit 이벤트 발생 시 start
$(frm).on('submit',(event)=>{
  event.preventDefault(); // 캡쳐링 방지
  query = $(frm.query).val();
  page = 1;
  bookList();
})
    bookList();
  </script>

