<div class="row my-5">
  <div class="col">
      <h1 class="text-center mb-3">회원정보</h1>
      <div id="mypage"></div>
      <div class="text-center my-3" >
              <button class="btn btn-primary px-5" id = "btn">정보수정</button>
      </div>
  </div>
</div>

  <!--마이페이지 템플릿-->
  <script id="temp_mypage" type="text/x-handlebars-template">
    <div class="card">
        <div class="row p-3">
            <div class="col-md-4 col-lg-5 text-center">
                <img src="{{photo}}" style="width:60%;border-radius:50%;">
            </div>
            <div class="col mt-3">
                <h5><div id = 'email'>이메일: {{email}}</div></h5>
                <hr>
                <div class="my-3" id = 'address'>주소: {{address}}</div>
                <div class ="my-3" id = addressDetail>상세주소 : {{addressDetail}}</div>
                <div class="my-3" id = 'phone'>전화: {{phone}}</div>
            </div>
        </div>
    </div>
  </script>

  
  <script type="module">
    import { app } from '/javascripts/firebase.js';
    import {getFirestore, doc, getDoc, query, collection, where,getDocs  } from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';
    
    const id = "<%=id%>";
    console.log(id)
    const db = getFirestore(app);
    const uid = localStorage.getItem("uid");
    const email = localStorage.getItem("email");
    // let user =  {
    //     email: 'qlwb11@naver.com',
    //     photo: 'https://via.placeholder.com/200x200',
    //     address: '서울특별시 금천구 가산디지털2로 95',
    //     addressDetail : '322-1',
    //     phone: '010-555-7777'
    // }
     const docRef = doc(db, 'users', id);
    // console.log(docRef)
     const docSnap = await getDoc(docRef);
    // console.log(docSnap)
     const row = docSnap.data();
    // console.log(row)


    const snapshot = await getDoc(doc(db, `users/${email}`));
    if(snapshot.data()){//Object참, 안녕 참, 내일봐
         user = snapshot.data();
         user = { ...user, photo:snapshot.data().photo ? snapshot.data().photo: "https://via.placeholder.com/200x200"}
    }
    const temp = Handlebars.compile($("#temp_mypage").html());
    $("#mypage").html(temp(row));

    const updateBtn = document.getElementById('btn');
  updateBtn.addEventListener('click', async function (event) {
    event.preventDefault();
    const email = localStorage.getItem('email');

    if (email) {
      const userQuery = query(collection(db, 'users'), where('email', '==', row.email));
      const userSnapshot = await getDocs(userQuery);

        const userId =  userSnapshot.docs.length > 0 ? userSnapshot.docs[0].id : null;
        location.href = `/users/update/${userId}`;

    }
  });
  </script>