<body>
    <div class="row my-5 justify-content-center">
      <div class="col-8 col-md-6 col-lg-4">
        <h3 class="text-center mb-5">회원정보수정</h3>
        <form name="frm" method="post" action="/login">
          <div class="input-group my-2">
            <div class="input-group-text">이 메 일</div>
            <input class="form-control" name="email"  />
          </div>
          <div class="input-group">
            <div class="input-group-text">비밀번호</div>
            <input
              class="form-control"
              name="password"
              type="password"
            />
          </div>
          <div class="my-3">
            <button class="btn btn-success w-100" type="submit">회원정보수정</button>
          </div>
        </form>
      </div>
    </div>


<script>
    // 태그를 따와서 해당 태그에 localstorage 값을 받아와야함.

</script>