<div class="row my-5">
    <div class="col">
      <h1 class="text-center mb-5">회원정보수정</h1>
      <div class="card p-5">
        <form name="frm" method="post">
          <div class="input-group my-2">
            <div class="input-group-text px-5">이메일</div>
            <input class="form-control" id="email"  />
          </div>
          <div class="input-group my-2">
            <div class="input-group-text px-5">주소</div>
            <input
              class="form-control"
              id="address"
            />
          </div>

          <div class="input-group my-2">
            <div class="input-group-text px-5">상세주소</div>
            <input
              class="form-control"
              id="addressDetail"
            />
          </div>

          <div class="input-group my-2">
            <div class="input-group-text px-5">전화</div>
            <input class="form-control" id="phone"  />
          </div>
          <div>
            <img
              id="fileName"
              src="https://via.placeholder.com/200x200"
              width="30%"
            />
            <input class="form-control mt-2" type="file" name="file" />
          </div>
          <div class="text-center mt-3">
            <button class="btn-primary btn px-5">정보수정</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="module">
import { app } from '/javascripts/firebase.js';
  import {getFirestore, setDoc, doc, getDoc} from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';
  import {getStorage, uploadBytes, ref, getDownloadURL} from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-storage.js';
/* 1. 첨부파일 올리는 이벤트 처리를 진행
 */

 const storage = getStorage(app);
 const db = getFirestore(app);
 const id = '<%=id%>'
 const uid = localStorage.getItem("uid")
 const docRef = doc(db, 'users', id);
 const docSnap = await getDoc(docRef);
 const row = docSnap.data();
 console.log(row)

  $(frm.email).val(row.email);
  $(frm.address).val(row.address);
  $(frm.addressDetail).val(row.addressDetail);
  $(frm.phone).val(row.phone);
  $('#fileName').attr('src', row.photo);

 $(frm).on('submit', async  function(event){
    event.preventDefault();
    if(window.confirm("회원정보를 변경하시겠습니까?")){
        let email = $(frm.email).val();
        let address = $(frm.address).val();
        let addressDetail = $(frm.addressDetail).val();
        let phone = $(frm.phone).val();
        


        if(frm.file.files[0]){
            const snapshot = await uploadBytes( //uploadBytes 함수는 Firebase Storage에 파일을 업로드하는 함수
                ref(storage, `/photo/${Date.now()}.jpg`), frm.file.files[0]);
                //첫 번째 매개변수는 업로드할 위치 + 두 번째 매개변수는 업로드할 파일(frm.file.files[0]은 사용자가 선택한 파일)
                const url = await getDownloadURL(snapshot.ref);/* 해당 참조를 사용하여 업로드된 파일의 다운로드 URL을 얻는다. */

                await setDoc(doc(db, `users/${id}`),{
            email:email, address:address, addressDetail:addressDetail, phone:phone, photo:url
          })
        }/*  snapshot.ref 업로드된 파일에 대한 참조(reference) */
        else{
            const photo = $('#fileName').attr('src'); // 현재 프로필 이미지의 URL을 가져옴
            await setDoc(doc(db, `users/${id}`), {
                email, address,addressDetail ,phone, photo
            })
        }
        alert("사용자 정보가 변경되었습니다.");
        location.href=`/users/mypage/${id}`;
//여기 경로설정할것.
    }
 })
// 사용자가 파일을 선택할 때마다 해당 파일의 미리보기를 제공
 $(frm.file).on('change', function (e) {
    $('#fileName').attr('src', URL.createObjectURL(e.target.files[0]));
  });
// e.target.files[0]은 변경된 파일 입력 엘리먼트의 첫 번째 파일
// URL.createObjectURL(e.target.files[0])는 선택된 파일에 대한 URL을 생성 + URL은 브라우저에 의해 동적으로 생성
  </script>