

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-box {
  background: rgb(61, 137, 64);
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}
.login-box1 {
  background: rgb(211, 225, 88);
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}



ul {
  list-style: none;
}

#google-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect span {
    box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.button input[type="submit"] {
  color: inherit;
  cursor:  pointer;
  font-size: inherit;
  background-color: rgba(128, 128, 128, 0.153);
  padding: 0px;
  width : 60px;
  height: 35px;
  
}

.write {
  width: 700px; margin: 0 auto;
  border-top: 3px solid gray; border-bottom: 3px solid gray;
}
.write input {width: 676px; padding: 10px; margin: 12px auto 0;}
.write .text {table-layout: fixed;
  height: 300px; white-space: pre-line; word-break: break-all;
}
.write .button {padding: 0 200px; margin: 15px auto;}    
.write .button a {
  border: 1px solid black; background: gainsboro;
  margin: 10px; padding: 5px;
  text-decoration: none; color: black;
}
.write .button a:hover {color: blueviolet;}
.write p {text-align: center;}



#subject {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
  color: #151515;
  display: flex;
}

#writer, #date {
  display: inline-block;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
  font-size: 1.1em;
  display: flex;
  flex-basis: 100%;
}

#content {
  padding: 10px;
  font-size: 1.1em;
  line-height: 3.6;
  margin: auto;
  display: flex;
  flex-basis: 100%;
}

#viewFrm {
  margin-top: 20px;
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

main {
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
}

.button {
  margin-top: 20px;
}

.button a {
  color: #fff;
  text-decoration: none;
}

.btn-info {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}


li {
  list-style-type: none;
}

.post-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #d7d7d7;
  margin: 15px;
}

.post-title {
  font-size: 20px;
}

.post-number {
  font-size: 15px;
  padding: 15px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.prev-button:hover,
.next-button:hover,
.number-button:hover {
  font-weight: 800;
  color: red;
}

.pagination-container {
  user-select: none;
}

.selected {
  font-weight: 800;
  font-size: 1.1rem;
  color: dodgerblue;
}