<div class="row my-5 justify-content-center">
    <div class="col-8 col-md-6 col-lg-4">
      <h3 class="text-center mb-5">회원가입</h3>
      <form name="frm" method="post">
        <div class="input-group my-2">
          <div class="input-group-text">이 메 일</div>
          <input class="form-control" name="email" />
        </div>
        <!-- =======endOfemail====== -->
        <div class="input-group">
          <div class="input-group-text">비밀번호</div>
          <input
            class="form-control"
            name="password"
            type="password"
          />
        </div>
<!-- =======endOfpassword======================= -->
        <div class="input-group my-2">
          <div class="input-group-text">주소</div>
          <input class="form-control" id="address"/>
          <button class="btn btn-success" type = "button" id ="addressSearch" onclick="findAddr()">주소검색</button>
        </div>


        <div class="input-group my-2">
          <div class="input-group-text">상세주소</div>
          <input class="form-control" id="addressDetail" />
        </div>

        <div class="input-group my-2">
          <div class="input-group-text">휴대폰 번호</div>
          <input class="form-control" name="phone" />
        </div>

        <div class="my-3">
          <button class="btn btn-success w-100">회원가입</button>
        </div>
        <div class="text-end mt-3"><a href="/login">로그인</a></div>
      </form>
    </div>
  </div>
  <script type="module">
    import { app } from '/javascripts/firebase.js';
    import { getAuth,createUserWithEmailAndPassword,} from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-auth.js';
    import {addDoc,collection, getFirestore} from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';


    const auth = getAuth(app); 
    const db = getFirestore(app);
    $(frm).on('submit', function (e) {
      console.log('회원가입버튼 클릭');
      e.preventDefault();
      let email = $(frm.email).val();
      let password = $(frm.password).val();
      let address = $(frm.address).val();
      let phone = $(frm.phone).val();


      console.log(`${email} ${password} ${address}, ${phone}`);
  
      createUserWithEmailAndPassword(auth, email, password)
        .then((response) => {
          //회원가입에 성공하면
          console.log(response);
          location.href = '/login';
        })
        .catch((error) => alert(error.message));
    }); //// end of createUserWithEmailAndPassword
  </script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
window.onload = function(){
    document.getElementById("addressSearch").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("address").value = data.address; // 주소 넣기
                document.querySelector("#addressDetail").focus(); //상세입력 포커싱
            }
        }).open();
    });
}

</script>