<body>
    <div id="main">
        <h1>게시판</h1>
        <hr><br>
        <button type="button" class="btn btn-primary">
            <a class="page-link" href="/board/write">글쓰기 </a>
        </button>
        <button type="button" class="btn btn-info">공지</button>
        <br><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>번호</td>
                    <td>글제목</td>
                    <td>작성자</td>
                    <td>등록일</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>265121</td>
                    <td>엌 아래글 진짜 관리자임?</td>
                    <td>ㅇㅇ</td>
                    <td>2020.04.23</td>
                </tr>
                <tr>
                    <td>265120</td>
                    <td>본인 방금 추천 많이 받아서 개념글 상상함</td>
                    <td>운영자</td>
                    <td>2020.04.23</td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

<script>
// board 페이지에서 localStorage에서 데이터를 가져와서 노출
let boardsStr = localStorage.getItem("boards");
console.log(boardsStr)

if(boardsStr == null)
{
    const listStr = JSON.stringify([]);
    localStorage.setItem("boards",listStr);
    boardsStr = listStr;
}

const boardsObj = JSON.parse(boardsStr) || [];
const tableBody = document.querySelector(".table tbody");

// 기존에 있는 테이블 내용 지우기
tableBody.innerHTML = "";

// boardsObj.forEach(board => {
//     const row = document.createElement("tr");
//     row.innerHTML = `
//         <tr>
//         <td>${board.index}</td>
//         <td><a href="/board/read/index=${board.index}">${board.subject}</a></td>
//         <td>${board.writer}</td>
//         <td>${board.date}</td>
//         <td>${board.views}</td>
//         </tr>
//     `;
//     tableBody.appendChild(row);
// });

const template = (index, objValue) =>{
    return `
        <tr>
        <td>${index+1}</td>
        <td><a href="/board/read?index=${objValue.index}">${objValue.subject}</a></td>
        <td>${objValue.writer}</td>
        <td>${objValue.date}</td>
        </tr>
    `;
};
const tbody = document.querySelector("tbody");

for(let i = 0; i < boardsObj.length; i++)
{
    console.log(template(i,boardsObj[i]));
    tbody.innerHTML += template(i,boardsObj[i]);
}

</script>

