<div class="row my-2">
  <div class="col">
      <h1 class="text-center mb-2">게시글</h1>
      <div class="text-end">
          <button class="btn btn-primary btn-sm" id="btn-write">글쓰기</button>
      </div>
      <div id="posts"></div>
      <div class="text-center my-3" id="btn-group" style="display:none">
          <button class="btn btn-primary btn-sm" id="btn-prev">이전</button>
          <span class="px-2" id="span-page">1</span>
          <button class="btn btn-primary btn-sm" id="btn-next">다음</button>
      </div>
  </div>
</div>


<script id="temp" type="text/x-handlebars-template">
  {{#each .}}
  <div class="card my-2" style="font-size:0.8rem">
      <div class="card-body">
          <a href="/board/{{ id }}"><h5>{{ subject }}</h5></a>
          <div class="ellipsis2">{{ content }}</div>
      </div>
      <div class="card-footer">
          <span>Posted on {{ date }} by {{ write_id }}</span>
      </div>
  </div>
  {{/each}}
</script>

<script type="module">
  import { app } from '/javascripts/firebase.js';
  import {
    getFirestore,
    collection,
    addDoc,
  } from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';

  import {
    query,
    where,
    getDocs,
    orderBy,
    doc,
  } from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';

// https://firebase.google.com/docs/firestore/query-data/get-data?hl=ko
// https://firebase.google.com/docs/firestore/quickstart?hl=ko

const db = getFirestore(app);
let page = 1;
getList();
async function getList(){
  const q = query(collection(db, 'boards'), orderBy('date','desc'));
  const querySnapshot = await getDocs(q); //값을 받아온다.
  // getDocs(q);함수가 q를 받아올 떄 까지 await한다.
  let rows = [];
  querySnapshot.forEach((doc) => {
    rows.push({...doc.data()});
    console.log(rows);
    let temp = Handlebars.compile($('#temp').html());
    $('#posts').html(temp(rows));
    // 가지고는 오는데 처리를 못한다. 어떻게 해야될까? 핸들바스 - 태그랑 매핑을 못하는 상황임
    // 지금 핸들바스에서 처리를 하려고 하는데 테이블에 있는 #boards1에 핸들바스를 추가하려고해 근데 그 안에 선택자를 접근하려고 하는데,
    // 접근할 떄 table #boards1인데 이렇게 내부선택자로 접근하면 될까? 주석에 써있는것들이 내궁금중이야
});
}
//여기서 데이터를 접근할 떄 data() 함수를 호출해야한다.


</script>

<script>
  const email = localStorage.getItem('email');
  let nickname = localStorage.getItem('nickname')
  $('#btn-write').on('click', () => {
    if (email || nickname) {
      location.href = '/board/write';
    }

  });
</script>