<body>
    <div id="main">
        <h1>게시판</h1>
        <hr><br>
        <button type="button" class="btn btn-primary">
            <a class="page-link" href="/board/write">글쓰기 </a>
        </button>
        <br><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>번호</td>
                    <td>글제목</td>
                    <td>작성자</td>
                    <td>등록일</td>
                    <td>조회수</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>265121</td>
                    <td>엌 아래글 진짜 관리자임?</td>
                    <td>ㅇㅇ</td>
                    <td>2020.04.23</td>
                </tr>
                <tr>
                    <td>265120</td>
                    <td>본인 방금 추천 많이 받아서 개념글 상상함</td>
                    <td>운영자</td>
                    <td>2020.04.23</td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <div class="pagination-container">
            <div class="prev-button">이전</div>
            <div class="number-button-wrapper"><span class="number-button">1</span></div>
            <div class="next-button">이후</div>
          </div>
    </div>

<script type ="module">
import {app} from '/javascripts/firebase.js';
import {addDoc,collection, getFirestore } from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';
import {query, where, getDocs, orderBy, doc} from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';
// https://firebase.google.com/docs/firestore/query-data/get-data?hl=ko
// https://firebase.google.com/docs/firestore/quickstart?hl=ko

const db = getFirestore(app);
let page = 1;
getList();
async function getList(){
  const q = query(collection(db, "board"), orderBy("date",'desc'));
  const querySnapshot = await getDocs(q); //값을 받아온다.
  // getDocs(q);함수가 q를 받아올 떄 까지 await한다.
  querySnapshot.forEach((doc) => {
  console.log(doc.id, " => ", doc.data());
});
}
//여기서 데이터를 접근할 떄 data() 함수를 호출해야한다.


</script>
