<style>
#complete,#back
{
        padding: 8px;
        font-size: 1.1em;
        margin-top: 8px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        outline: none;
        width: 100px;
        
}

#complete:hover,
    #back:hover {
        background-color: #0056b3;
    }

</style>
<body>
<form id = "modifyFrm">
    <div class="my-3"> 제목 <input type = "text" name = "subject" class="form-control"/></div>
    <div class="my-3"> 작성자  <input type = "text" name = "writer" class="form-control" disabled/></div>
    <div class="my-3"> 내용  <textarea name = "content" class="form-control"></textarea></div>
    <input type = "submit" value ="수정완료" id = "complete"/>
</form>

<button  id = "back" >뒤로가기</button>
</body>

<script>
    const modifyFrm = document.querySelector("#modifyFrm")
    const modifyFrmList = document.querySelectorAll("#modifyFrm > div")
    const boardsObj = JSON.parse(localStorage.getItem("boards"))
    const idx = location.search
    const index = location.search.split("=")[1];
    const board = boardsObj[index];

    for(let i =0; i<modifyFrmList.length; i++)
    {
        const element = modifyFrmList[i].childNodes[1];
        const id = element.name;
        element.value = board[id];
    }

    const isEmpty= (subject,writer,content)=>{
        if(subject.length == 0) throw new Error("제목을 입력해주세요")
        if(writer.length == 0) throw new Error("제목을 입력해주세요")
        if(content.length == 0) throw new Error("제목을 입력해주세요")

    };
    const modifyHandler = (e) => {
        e.preventDefault();
        const subject = e.target.subject.value;
        const writer = e.target.writer.value;
        const content = e.target.content.value;
        console.log(subject,writer,content)


        try{
            isEmpty(subject,writer,content)
            board.subject = subject;
            board.writer = writer;
            board.content = content;
            const boardStr = JSON.stringify(boardsObj);
            localStorage.setItem("boards",boardStr);
            location.href = "/board/read"+idx;
        }
        catch(e){
            alert(e.message);
            console.log(e);
        }


    }
    const backBtn = document.querySelector("#back")
    console.log(backBtn);

    $(backBtn).on('click', ()=>{
        location.href = document.referrer;
    })


    modifyFrm.addEventListener('submit', modifyHandler);

</script>