<div class="row my-5">
  <div class="col">
      <h1 class="text-center mb-5">글수정</h1>
      <form name="frm" method="post">
          <input class="form-control my-2" name="title" placeholder="제목을 입력하세요.">
          <textarea class="form-control" name="body" rows="10" placeholder="내용을 입력하세요."></textarea>
          <div class="text-center my-2">
              <button class="btn btn-primary">글수정</button>
              <button class="btn btn-secondary" type="reset">수정취소</button>
          </div>
      </form>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script type="module">
  import { app } from '/javascripts/firebase.js';
  import {getFirestore, doc, getDoc, setDoc} from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';
    
    const db = getFirestore(app);
    const id = "<%=id%>";
    let row = null; 
    /* 
    id를 가져온다(url에) url에 파라미터 값을 가져온다. id값은 어디서 결정돼? board에서 근데 
    라우터에서 :id로 값 자체가 params.id로 들어간다.
     */
    getRow();
    async function getRow(){
      const snapshot = await getDoc(doc(db,`boards/${id}`))
      //아이디값을 이런식으로 넘겨준다.
      row = snapshot.data();
      $(frm.title).val(row.subject);
      $(frm.body).val(row.content);
    }

    $(frm).on('submit', async (event) => {
    console.log('글수정 클릭');
    event.preventDefault(); //새로고침 사이드이펙트 발동되는 걸 막음
    $("#modal-confirm .modal-body").html("수정된 정보를 저장하시겠습니까?");
    $("#modal-confirm").modal("show");
    //모달창에서 예(btn-primary)버튼을 눌렀을 때 이벤트 감지되고 실행문 진행되는 거니까
    //즉 외부에서 호출되는 함수가 아니니까  또 다른게는 onclick이벤트 핸들러의 콜백함수이라서
    //즉 내부에서 호출되고 끝나는 거니까 호이스팅 함수일 필요가 없다.
    let subject = $(frm.title).val();
    let content = $(frm.body).val();
    $("#modal-confirm").on("click", ".btn-primary", async () => {//수정하기 처리에 대한 콜백
        await setDoc(doc(db, `boards/${id}`),{
            ...row, subject,  content
        }); // 여기서 내가 몰랐던 부분은 boards는 url이 아니라, 파이어베이스 콜렉션 네임이다.
        //성공하면 목록페이지로 간다
        location.href = "/board";
    });//end of 모달창에서 예 버튼 눌렀을 때 이벤트 처리하기
    
  });

    $(frm).on("reset", (e)=>{
      e.preventDefault();
      getRow();
    })
</script>