<body>
    <header>
        <div class="homebox">
            <div>
                <a href="index.html" class="logo"></a>
            </div>
        </div>
    </header>
 

 
    <main>
        <form class="write">
            <input type="text" placeholder="제목을 입력해주세요." required>
            <hr>
            <input type="text" placeholder="내용을 입력해주세요." class="text" required>
            <div class="button">
                <p><a href="free.html">글쓰기</a><a href="free.html">취소</a></p>
            </div>
        </form>
    </main>

</body>